---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import StickyMobileCTA from '../components/StickyMobileCTA.astro';
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <!-- Preload fonts to avoid layout shift and increase lighthouse score -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet">
	</head>
	<body class="flex flex-col min-h-screen relative pb-[80px] md:pb-0">
		<Header />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer />
		<StickyMobileCTA />
	</body>
</html>
